################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NRC-Fetcher/.vs/NRC-Fetcher/v16
/NRC-Fetcher/NRC-Fetcher/obj/Debug
